.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.right {
  background-color: #f5fffa;
  float: right;
  padding-left: 10px;
  width: 30%;
  font-family: 'Sawarabi Gothic';
  border: 1px solid #dadada;
  border-radius: 10px;
}

.right h2 {
  color: #000000;
  border-left: 5px solid #000000;
  padding-left: 10px;
}

.right p a {
  color: #006400;
  transition: all 0.05s ease-in-out;
  text-decoration: none;
}

.right p a:hover {
  opacity: 0.5;
}

.right p a:hover:before {
  font-size: 12px;
  content: "≫";
}

.left {
  margin-top: 10px;
  background-color: #f5fffa;
  float: left;
  padding-left: 15px;
  margin-left: 70px;
  padding-right: 10px;
  width: 63%;
  font-family: 'Sawarabi Gothic';
  border: 1px solid #dadada;
  border-radius: 10px;
}

.left h2 {
  color: #000000;
  border-left: 5px solid #000000;
  padding-left: 10px;
}

.left p a {
  color: #006400;
  transition: all 0.05s ease-in-out;
  text-decoration: none;
}

.left p a:hover {
  opacity: 0.5;
}

.left-links {
  margin-top: 10px;
  background-color: #f5fffa;
  float: left;
  padding-left: 15px;
  margin-left: 70px;
  padding-right: 10px;
  width: 63%;
  font-family: 'Sawarabi Gothic';
  border: 1px solid #dadada;
  border-radius: 10px;
}

.left-links h2 {
  color: #000000;
  border-left: 5px solid #000000;
  padding-left: 10px;
}

.left-links p a {
  color: #006400;
  transition: all 0.05s ease-in-out;
  text-decoration: none;
}

.left-links p a:hover {
  opacity: 0.5;
}

.left-links p a:hover:before {
  font-size: 12px;
  content: "≫";
}